.storeReports_headerRow {
  background: #FFFFFF;
  border-radius: 8px;
  // border: 1px solid red;
}

.storeReports_headerTitleWrapper {
  // border: 1px solid red;
}

.storeReports_headerTitle {
  // border: 1px solid red;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

// mat-slide-toggle.mat-slide-toggle .mat-slide-toggle-bar {
//   height: 14px;
//   width: 26px;
// }

// mat-slide-toggle.mat-slide-toggle .mat-slide-toggle-thumb {
//   height: 18px;
//   width: 14px;
// }