// FONTS
$font: 'Roboto', sans-serif;
$font-alt: 'Poppins', sans-serif;

$color: #d92337;
$color-lighter: #fcd0d6;

$hover: #F2F2F2;

$gray: #888;

$gray-200: #ededed;
$gray-400: #9F9F9F;
$gray-500: #8a8a8a;
$gray-800: #666;

$border: rgba(black, 0.2);

// COLORS
$red: $color;
$green: #00ff00;
$blue: #0000ff;


$placeholder: rgba(#8A8A8A, 0.8);

$space: 20px;