.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    margin: 0!important;
    padding: .5rem 1rem!important;
    padding-left: 3px!important;
    border: 0!important;
    color: #0080ff!important;
    background: transparent!important;
    transition: box-shadow .2s!important;
    border-radius: 0!important;
}