@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.form-container {
	width: 100vw;
	height: 100vh;
	background-color: #e68835;
	display: flex;
   	justify-content: center;
	align-items: center;
}
.upload-files-container {
	display: flex;
   	align-items: center;
   	justify-content: center;
	flex-direction: column;
}
.drag-file-area {
	border: 2px dashed #e68835;
	border-radius: 20px;
	margin: 10px 0 15px;
	padding: 20px 40px;
	width: 400px;
	text-align: center;
    position: relative;
    transform: 300ms ease-in-out;
}
.fileUploaded {
	background-color: #f4a45d;
	border-radius: 5px;
	color: white;
	padding: 3px;
	margin: 3px;
	width: 180px;
	display: flex;
	justify-content: space-around;
}
label.emphasis {
	margin-right: 5px ;
}
.red {
	color: red;
}
.none {
	display: none;
}
.fileUploadedList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
.deletebutton {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	background-color: rgb(255, 255, 255, 0.2);
	border-radius: 5px;
	width: 20px;
	transition: ease-in-out 150ms;
	cursor: pointer;
	margin: 0px 3px;
	font-weight: 700;
}
.deletebutton:hover {
	background-color: rgb(255, 255, 255, 0.4);

}
.fileName {
	width: 140px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	align-self: center;
	position: relative;
	display: inline-block;
}
.tp {
	position: relative;
	display: inline-block;
}
.tp[customTitle]:hover::after {
	content: attr(customTitle);
	position: absolute;
	top: -90%;
	left: 20px;
	width: 50px;
	height: 50px;
	background-color: red;
	color: white;
  }

 span .emphasis { 
    cursor: pointer;
 }
 span .emphasis:hover {
    text-decoration: underline;
 }

 .emphasis > input[type=file] {
	display: none;
 }
.upload-icon {
	font-size: 50px;
}

.drag-file-area h3 {
	font-size: 26px;
	margin: 15px 0;
}

.drag-file-area label {
	font-size: 19px;
}
.drag-file-area label .browse-files-text {
	color: #e68835;
	font-weight: bolder;
	cursor: pointer;
}

.emphasis {
    color: #e68835;
	font-weight: bolder;
}
.default-file-input {
	opacity: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid red;

}
.cannot-upload-message {
	background-color: #ffc6c4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #BB0000;
	display: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
	padding-right: 10px;
}
.cannot-upload-message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file-block {
	color: #f7fff7;
	background-color: #e68835;
  	transition: all 1s;
	width: 390px;
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 15px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}
.file-info {
	display: flex;
	align-items: center;
	font-size: 15px;
}
.file-icon {
	margin-right: 10px;
}
.file-name, .file-size {
	padding: 0 3px;
}
.remove-file-icon {
	cursor: pointer;
}
.progress-bar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 4.5%;
	width: 0;
	height: 5px;
	border-radius: 25px;
	background-color: #4BB543;
}
.upload-button {
	font-family: 'Montserrat';
	background-color: #e68835;
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 18px;
	border: none;
	border-radius: 20px;
	margin: 10px;
	padding: 7.5px 50px;
	cursor: pointer;
}

// 
#uploadModal .modal-header {
	padding: 8px 16px;
}
#uploadModal .modal-body {
	padding: 0px 1rem;

}
